{% extends "analysis.html" %}


{% block display %}

    <div class="ui pointing secondary menu">
        <a class="active item " data-tab="data">Data</a>
        <a class="item " data-tab="graph">Graph</a>
        <a class="item" data-tab="export">Export</a>
    </div>
    <div class="ui active tab segment" data-tab="data">
        <h3 class="ui header">
            <div class="content">
                Data
            </div>
        </h3>
        <div class="ui divider"></div>

        <div class="ui container" id='result_table' style="width: 100%; overflow-x: scroll; overflow-y: hidden;">

            {{ data|safe }}

        </div>

    </div>

    <div class="ui tab segment" data-tab="graph">
        <h3 class="ui header">
            <div class="content">
                Graph

            </div>
        </h3>

        <div class="ui divider"></div>
        <div class="ui container">
            <div id="bar_total_trend" style="width:1000px; height:600px;">
            </div>
        </div>


    </div>

    <div class="ui tab segment" data-tab="export">
        <div class="ui buttons">
            <input class="ui blue button" type='button' id='export_data' value="Export Data"/>
        </div>
    </div>

    <script>
        $("#export_data").click(function () {
            var form_data = getForm();

            var downloadUrl = '{% url 'export'  %}' ;
            window.location.href = downloadUrl;
        });

    </script>

    <script>


        $('.pointing.secondary.menu .item').tab();

    </script>

{% endblock %}