{% extends "analysis.html" %}


{% block display %}


    {#            <div class="ui active dimmer" id="dimmer">#}
    {#                <div class="ui text" style="color: #FFFFFF">#}
    {##}
    {#                </div>#}
    {#            </div>#}

    {#        <div class="ui blue progress" data-percent="" id="progressHTML">#}
    {#            <div class="bar">#}
    {#                <div class="progress"></div>#}
    {#            </div>#}
    {#        </div>#}


    {#    <div id="data_graph" style="display: none;">#}
    <div id="data_graph">
        <div class="ui pointing secondary menu">
            <a class="active item " data-tab="data">Data</a>
            <a class="item " data-tab="graph">Graph</a>
        </div>


        <div class="ui active tab segment" data-tab="data">

            <div class="ui pointing secondary menu">
                <a class="active item " data-tab="original_data">Original Data</a>
                <a class="item " data-tab="anomaly_detection_data">Anomaly Detection Data</a>
                <a class="item " data-tab="gap_filling_data">Gap Filling Data</a>
            </div>

            <div class="ui active tab segment" data-tab="original_data">
                <div class="ui blue progress" data-percent="" id="progressHTML" style="display: none;">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                </div>

                <div class="ui container" style="width: 100% ; height:60% ;">
                    <div class="ui celled table" id='result_table' style="display: none; ">
                        {{ data|safe }}
                    </div>
                </div>
            </div>

            <div class="ui tab segment" data-tab="anomaly_detection_data">

                <div class="ui blue progress" data-percent="" id="progressHTML2" style="display: none;">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                </div>
                <div class="ui container" style="width: 100% ; height:60% ;">
                    <div class="ui celled table" id='result_table1' style="display: none; ">
                        {{ data1|safe }}
                    </div>
                </div>
            </div>

            <div class="ui tab segment" data-tab="gap_filling_data">
                <div class="ui blue progress" data-percent="" id="progressHTML4" style="display: none;">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                </div>

                <div class="ui container" style="width: 100% ; height:60% ;">
                    <div class="ui celled table" id='result_table2' style="display: none; ">
                        {{ data2|safe }}
                    </div>
                </div>
            </div>


        </div>

        <div class="ui tab segment" data-tab="graph" id="total_graph">

            <div class="ui pointing secondary menu">
                <a class="active item " data-tab="original_graph">Original Graph</a>
                <a class="item " data-tab="anomaly_detection_graph">Anomaly Detection Graph</a>
                <a class="item " data-tab="gap_filling_graph">Gap Filling Graph</a>
            </div>

            <div class="ui active tab segment" data-tab="original_graph">

                <div class="ui blue progress" data-percent="" id="progressHTML1" style="display: none;">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                </div>

                <div class="ui container" id='graph1' style="display: none; ">
                    <select class="ui dropdown" name="format_select" id="format_select">
                        <option value="pdf" selected>pdf</option>
                        <option value="png">png</option>
                        <option value="html">html</option>
                    </select>
                    <button id="print" class="ui blue button">Download</button>

                    <div id="bar_total_trend_original" style="width:1000px; height:600px;">
                    </div>
                </div>
            </div>

            <div class="ui tab segment" data-tab="anomaly_detection_graph">

                <div class="ui blue progress" data-percent="" id="progressHTML3" style="display: none;">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                </div>

                <div class="ui container" id='graph2' style="display: none; ">
                    <select class="ui dropdown" name="format_select1" id="format_select1">
                        <option value="pdf" selected>pdf</option>
                        <option value="png">png</option>
                        <option value="html">html</option>
                    </select>
                    <button id="export_data1" class="ui blue button">Download</button>
                    <div id="bar_total_trend" style="width:1000px; height:600px;">
                    </div>
                    <br>
                    <br>
                    <select class="ui dropdown" name="format_select2" id="format_select2">
                        <option value="pdf" selected>pdf</option>
                        <option value="png">png</option>
                        <option value="html">html</option>
                    </select>
                    <button id="export_data2" class="ui blue button">Download</button>
                    <div id="bar_total_trend1" style="width:1000px; height:600px;">
                    </div>
                    <br>
                    <br>
                    <select class="ui dropdown" name="format_select3" id="format_select3">
                        <option value="pdf" selected>pdf</option>
                        <option value="png">png</option>
                        <option value="html">html</option>
                    </select>
                    <button id="export_data3" class="ui blue button">Download</button>
                    <div id="bar_total_trend2" style="width:1000px; height:600px;">
                    </div>
                </div>

            </div>

            <div class="ui tab segment" data-tab="gap_filling_graph">

                <div class="ui blue progress" data-percent="" id="progressHTML5" style="display: none;">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                </div>

                <div class="ui container" id='graph3' style="display: none; ">
                    <select class="ui dropdown" name="format_select4" id="format_select4">
                        <option value="pdf" selected>pdf</option>
                        <option value="png">png</option>
                        <option value="html">html</option>
                    </select>
                    <button id="export_data4" class="ui blue button">Download</button>
                    <div id="gap_filling_bar_total_trend" style="width:1000px; height:600px;">
                    </div>
                    <br>
                    <br>
                    <select class="ui dropdown" name="format_select5" id="format_select5">
                        <option value="pdf" selected>pdf</option>
                        <option value="png">png</option>
                        <option value="html">html</option>
                    </select>
                    <button id="export_data5" class="ui blue button">Download</button>
                    <div id="gap_filling_bar_total_trend1" style="width:1000px; height:600px;">
                    </div>
                    <br>
                    <br>
                    <select class="ui dropdown" name="format_select6" id="format_select6">
                        <option value="pdf" selected>pdf</option>
                        <option value="png">png</option>
                        <option value="html">html</option>
                    </select>
                    <button id="export_data6" class="ui blue button">Download</button>
                    <div id="gap_filling_bar_total_trend2" style="width:1000px; height:600px;">
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>


    {#    <script>#}
    {#        $("#print").click(function () {#}
    {#            var form_data = getForm();#}
    {##}
    {#            var downloadUrl = '{% url 'export'  %}';#}
    {#            window.location.href = downloadUrl;#}
    {#        });#}
    {##}
    {#    </script>#}

    <script type="text/javascript">
        $("#print").click(function (event) {
            event.preventDefault();
            var form_data = {
                "format_select": $("#format_select").val(),
                "export_select": "export",
            };
            $.ajax({
                url: '{% url 'export' %}',
                type: 'GET',
                data: form_data,
                success: function (ret) {
                    window.location.href = '{% url 'export_pdf'  %}';
                },
                error: function (response) {
                    console.log('fail')
                }
            })
        })
    </script>

{#    <script>#}
{#        $("#export_data1").click(function () {#}
{#            var form_data = getForm();#}
{##}
{#            var downloadUrl = '{% url 'export1'  %}';#}
{#            window.location.href = downloadUrl;#}
{#        });#}
{##}
{#    </script>#}

     <script type="text/javascript">
        $("#export_data1").click(function (event) {
            event.preventDefault();
            var form_data = {
                "format_select": $("#format_select1").val(),
                "export_select": "export1",
            };
            $.ajax({
                url: '{% url 'export' %}',
                type: 'GET',
                data: form_data,
                success: function (ret) {
                    window.location.href = '{% url 'export_pdf'  %}';
                },
                error: function (response) {
                    console.log('fail')
                }
            })
        })
    </script>

    <script type="text/javascript">
        $("#export_data2").click(function (event) {
            event.preventDefault();
            var form_data = {
                "format_select": $("#format_select2").val(),
                "export_select": "export2",
            };
            $.ajax({
                url: '{% url 'export' %}',
                type: 'GET',
                data: form_data,
                success: function (ret) {
                    window.location.href = '{% url 'export_pdf'  %}';
                },
                error: function (response) {
                    console.log('fail')
                }
            })
        })
    </script>

    <script type="text/javascript">
        $("#export_data3").click(function (event) {
            event.preventDefault();
            var form_data = {
                "format_select": $("#format_select3").val(),
                "export_select": "export3",
            };
            $.ajax({
                url: '{% url 'export' %}',
                type: 'GET',
                data: form_data,
                success: function (ret) {
                    window.location.href = '{% url 'export_pdf'  %}';
                },
                error: function (response) {
                    console.log('fail')
                }
            })
        })
    </script>

    <script type="text/javascript">
        $("#export_data4").click(function (event) {
            event.preventDefault();
            var form_data = {
                "format_select": $("#format_select4").val(),
                "export_select": "export4",
            };
            $.ajax({
                url: '{% url 'export' %}',
                type: 'GET',
                data: form_data,
                success: function (ret) {
                    window.location.href = '{% url 'export_pdf'  %}';
                },
                error: function (response) {
                    console.log('fail')
                }
            })
        })
    </script>

    <script type="text/javascript">
        $("#export_data5").click(function (event) {
            event.preventDefault();
            var form_data = {
                "format_select": $("#format_select5").val(),
                "export_select": "export5",
            };
            $.ajax({
                url: '{% url 'export' %}',
                type: 'GET',
                data: form_data,
                success: function (ret) {
                    window.location.href = '{% url 'export_pdf'  %}';
                },
                error: function (response) {
                    console.log('fail')
                }
            })
        })
    </script>

    <script type="text/javascript">
        $("#export_data6").click(function (event) {
            event.preventDefault();
            var form_data = {
                "format_select": $("#format_select6").val(),
                "export_select": "export6",
            };
            $.ajax({
                url: '{% url 'export' %}',
                type: 'GET',
                data: form_data,
                success: function (ret) {
                    window.location.href = '{% url 'export_pdf'  %}';
                },
                error: function (response) {
                    console.log('fail')
                }
            })
        })
    </script>
{#    <script>#}
{#        $("#export_data2").click(function () {#}
{#            var form_data = getForm();#}
{##}
{#            var downloadUrl = '{% url 'export2'  %}';#}
{#            window.location.href = downloadUrl;#}
{#        });#}
{##}
{#    </script>#}
{#    <script>#}
{#        $("#export_data3").click(function () {#}
{#            var form_data = getForm();#}
{##}
{#            var downloadUrl = '{% url 'export3'  %}';#}
{#            window.location.href = downloadUrl;#}
{#        });#}
{##}
{#    </script>#}

{#    <script>#}
{#        $("#export_data4").click(function () {#}
{#            var form_data = getForm();#}
{##}
{#            var downloadUrl = '{% url 'export4'  %}';#}
{#            window.location.href = downloadUrl;#}
{#        });#}
{##}
{#    </script>#}
{##}
{#    <script>#}
{#        $("#export_data5").click(function () {#}
{#            var form_data = getForm();#}
{##}
{#            var downloadUrl = '{% url 'export5'  %}';#}
{#            window.location.href = downloadUrl;#}
{#        });#}
{##}
{#    </script>#}
{##}
{#    <script>#}
{#        $("#export_data6").click(function () {#}
{#            var form_data = getForm();#}
{##}
{#            var downloadUrl = '{% url 'export6'  %}';#}
{#            window.location.href = downloadUrl;#}
{#        });#}
{##}
{#    </script>#}

    <script>


        $('.pointing.secondary.menu .item').tab();

    </script>

{% endblock %}
