<div class="ui container">
    <div class="ui form">
        <form class="uploadForm" action="" method="post" enctype="multipart/form-data" name="frm">

            {% csrf_token %}
            <h3 class="ui header" id="dimension">Dimension</h3>
            <div class="field">
                <div class="fields">
                    <div class="eight wide field">
                        <select name="dim_select" id="DIM_select" class="ui fluid search dropdown">
                            <option value="Unit" selected>Unit Dimension</option>
                            <option value="Multi">Multi Dimension</option>
                        </select>
                    </div>

                </div>
            </div>


            <br>


            <label for="file" class="ui icon button">
                <i class="file icon"></i>
                Open File</label>
            <input type="file" id="file" name="myFile" style="display:none">

            {% if enable %}
                <input type="submit" name="upload" class="ui blue button" value="Submit" disabled/>

            {% else %}
                <input type="button" id="upload" class="ui blue button" onclick="FileUpload()" value="Submit"/>
                <script>
                    function FileUpload() {
                        $("#data_graph").hide();
                        var form_data = new FormData();
                        var file_info = $('#file')[0].files[0];
                        var dim_select = $("#DIM_select").val();
                        var Val = $('#file').val();
                        if (dim_select != '') {
                            form_data.append('dim_select', dim_select);
                        }
                        if (Val != '') {
                            form_data.append('myFile', file_info);
                            form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                            var dimmer = $("#dimmer");
                            dimmer.attr('class', 'ui active dimmer');
                            dimmer.children('div').remove();
                            dimmer.append('<div class="ui text loader">Loading……</div>');
                        }
                        $.ajax({
                            url: '{% url 'upload' %}',
                            type: 'POST',
                            data: form_data,
                            processData: false,  // tell jquery not to process the data
                            contentType: false, // tell jquery not to set contentType
                            success: function (ret) {

                                $("#result_table").empty();
                                $("#result_table1").empty();
                                $("#result_table2").empty();
                                var chart_total_trend = echarts.init(document.getElementById('bar_total_trend'), 'white', {renderer: 'canvas'});
                                var chart_total_trend1 = echarts.init(document.getElementById('bar_total_trend1'), 'white', {renderer: 'canvas'});
                                var chart_total_trend2 = echarts.init(document.getElementById('bar_total_trend2'), 'white', {renderer: 'canvas'});
                                var chart_gap_filling_bar_total_trend = echarts.init(document.getElementById('gap_filling_bar_total_trend'), 'white', {renderer: 'canvas'});
                                var chart_gap_filling_bar_total_trend1 = echarts.init(document.getElementById('gap_filling_bar_total_trend1'), 'white', {renderer: 'canvas'});
                                var chart_gap_filling_bar_total_trend2 = echarts.init(document.getElementById('gap_filling_bar_total_trend2'), 'white', {renderer: 'canvas'});
                                chart_total_trend.clear();
                                chart_total_trend1.clear();
                                chart_total_trend2.clear();
                                chart_gap_filling_bar_total_trend.clear();
                                chart_gap_filling_bar_total_trend1.clear();
                                chart_gap_filling_bar_total_trend2.clear();

                                $("#ALGO_select option[value='Default']").remove();
                                $("#ALGO_select").append('<option value=' + "Default" + ' selected' + '>' + ret['default_algo'] + '</option>');

                                $("#result_table").html(ret['data']);
                                $(document).ready(function () {
                                    var table = $('#data').DataTable({
                                        buttons: ['copy', 'excel', 'pdf', 'colvis']
                                    });

                                    table.buttons().container()
                                        .appendTo($('div.eight.column:eq(0)', table.table().container()));
                                });

                                var chart = echarts.init(document.getElementById('bar_total_trend_original'), 'white', {renderer: 'canvas'});
                                chart.showLoading({
                                    text: 'Data Loading'
                                });

                                chart.clear();
                                chart.setOption(ret['bar_total_trend']);
                                chart.hideLoading()

                                $("#data_graph").show();


                                dimmer.attr('class', 'ui dimmer');
                                {#$('#upload').attr("disabled", "disabled");#}
                                $('#AJAX_get').attr("disabled", false);
                                $('#Gap_filling').attr("disabled", false);
                            },
                            error: function () {
                                console.log('fail')
                                alert("empty file")
                            }
                        })
                    }

                </script>


            {% endif %}


            <br><br><br>

            <h3 class="ui header" id="analysis">Algorithm</h3>
            <div class="field">
                <div class="fields">
                    <div class="eight wide field">
                        <select name="algo_select" id="ALGO_select" class="ui fluid search dropdown">
                            <option value="Forest">Isolation Forest</option>
                            <option value="Default" selected>Default</option>
                            <option value="Lstm">LSTM</option>
                            <option value="Hbos">HBOS</option>
                            <option value="Cblof">CBLOF</option>
                            <option value="Pca">PCA</option>
                        </select>
                    </div>

                </div>
            </div>


            <div class="ui buttons">

                {#                <input class="ui blue button" type='button' id='AJAX_get' value="Anomaly Detection" disabled=""/>#}
                {% if enable %}
                    <input type="button" class="ui blue button" id='AJAX_get' value="Anomaly Detection"/>

                {% else %}
                    <input type="button" class="ui blue button" id='AJAX_get' value="Anomaly Detection" disabled/>

                {% endif %}
            </div>
            <script type="text/javascript">
                $("#AJAX_get").click(function (event) {
                    event.preventDefault();

                    var form_data = {
                        "ALGO_select": $("#ALGO_select").val(),
                    };

                    $("#data_graph").hide();

                    var dimmer = $("#dimmer");
                    dimmer.attr('class', 'ui active dimmer');
                    dimmer.children('div').remove();
                    dimmer.append('<div class="ui text loader">Loading……</div>');

                    $.ajax({
                        url: '{% url 'query' %}',

                        type: 'GET',

                        data: form_data,

                        success: function (ret) {
                            $("#label_size_unit").html(form_data['ALGO_select']);

                            $("#result_table1").html(ret['data']);
                            $(document).ready(function () {
                                var table = $('#data1').DataTable({
                                    buttons: ['copy', 'excel', 'pdf', 'colvis']
                                });

                                table.buttons().container()
                                    .appendTo($('div.eight.column:eq(0)', table.table().container()));
                            });

                            var chart = echarts.init(document.getElementById('bar_total_trend'), 'white', {renderer: 'canvas'});
                            chart.showLoading({
                                text: 'Data Loading'
                            });

                            chart.clear();
                            chart.setOption(ret['bar_total_trend']);
                            chart.hideLoading()

                            var chart1 = echarts.init(document.getElementById('bar_total_trend1'), 'white', {renderer: 'canvas'});
                            chart1.showLoading({
                                text: 'Data Loading'
                            });

                            chart1.clear();
                            chart1.setOption(ret['bar_total_trend1']);
                            chart1.hideLoading()

                            var chart2 = echarts.init(document.getElementById('bar_total_trend2'), 'white', {renderer: 'canvas'});
                            chart2.showLoading({
                                text: 'Data Loading'
                            });

                            chart2.clear();
                            chart2.setOption(ret['bar_total_trend2']);
                            chart2.hideLoading()

                            $("#data_graph").show();

                            dimmer.attr('class', 'ui dimmer');
                            $('#AJAX_get').attr("disabled", "disabled");
                            $('#Gap_filling').attr("disabled", false);

                        },
                        error: function () {
                            console.log('fail')
                            dimmer.children('div').text('An error occurred');
                        }
                    });
                })
            </script>

            <br><br><br>

            <h3 class="ui header" id="analysis">Filling Algorithm</h3>
            <div class="field">
                <div class="fields">
                    <div class="eight wide field">
                        <select name="filling_select" id="Filling_select" class="ui fluid search dropdown">
                            <option value="Interpolate" selected>Interpolate</option>
                            <option value="Mean">Mean</option>
                            <option value="Median">Median</option>
                            <option value="Pad">Pad</option>
                            <option value="Bfill">Bfill</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="ui buttons">
                <input class="ui blue button" type='button' id='Gap_filling' value="Gap Filling" disabled=""/>
            </div>
            <script type="text/javascript">
                $("#Gap_filling").click(function (event) {
                    event.preventDefault();

                    var form_data = {
                        "Gap_filling": $("#Filling_select").val(),
                    };

                    $("#data_graph").hide();

                    var dimmer = $("#dimmer");
                    dimmer.attr('class', 'ui active dimmer');
                    dimmer.children('div').remove();
                    dimmer.append('<div class="ui text loader">Loading……</div>');

                    $.ajax({
                        url: '{% url 'query' %}',

                        type: 'GET',

                        data: form_data,

                        success: function (ret) {

                            $("#result_table2").html(ret['data']);
                            $(document).ready(function () {
                                var table = $('#data2').DataTable({
                                    buttons: ['copy', 'excel', 'pdf', 'colvis']
                                });

                                table.buttons().container()
                                    .appendTo($('div.eight.column:eq(0)', table.table().container()));
                            });

                            var chart = echarts.init(document.getElementById('gap_filling_bar_total_trend'), 'white', {renderer: 'canvas'});
                            chart.showLoading({
                                text: 'Data Loading'
                            });

                            chart.clear();
                            chart.setOption(ret['bar_total_trend']);
                            chart.hideLoading()

                            var chart1 = echarts.init(document.getElementById('gap_filling_bar_total_trend1'), 'white', {renderer: 'canvas'});
                            chart1.showLoading({
                                text: 'Data Loading'
                            });

                            chart1.clear();
                            chart1.setOption(ret['bar_total_trend1']);
                            chart1.hideLoading()

                            var chart2 = echarts.init(document.getElementById('gap_filling_bar_total_trend2'), 'white', {renderer: 'canvas'});
                            chart2.showLoading({
                                text: 'Data Loading'
                            });

                            chart2.clear();
                            chart2.setOption(ret['bar_total_trend2']);
                            chart2.hideLoading()

                            $("#data_graph").show();

                            dimmer.attr('class', 'ui dimmer');
                            $('#Gap_filling').attr("disabled", "disabled");
                            $('#AJAX_get').attr("disabled", false);

                        },
                        error: function () {
                            console.log('fail')
                        }
                    });
                })
            </script>


        </form>
    </div>
</div>

<script>
    function initTable(table) {
        table.DataTable(
            {}
        );
    }
</script>

<script>
    function getForm() {
        var form_data = {
            "Load_data": 'Load_data',
        };

        return form_data
    }
</script>


<script>
    $('.ui.fluid.search.dropdown')
        .dropdown({fullTextSearch: true});
</script>

