<div class="ui container">
    <div class="ui form">
        <form action="" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            <h3 class="ui header" id="dimension">Dimension</h3>
            <div class="field">
                <div class="fields">
                    <div class="eight wide field">
                        <select name="dim_select" id="DIM_select" class="ui fluid search dropdown">
                            <option value="Unit" selected>Unit Dimension</option>
                            <option value="Multi">Multi Dimension</option>
                        </select>
                    </div>

                </div>
            </div>








            <br>



                <label for="file" class="ui icon button">
                    <i class="file icon"></i>
                    Open File</label>
                <input type="file" id="file" name="myFile" style="display:none">

                <button class="ui blue button" type="submit">Submit</button>




{##}
{#            <input type="file" name="myFile"><br>#}
{#            <input type="submit" name="submit">#}


            <br><br><br>

{#            <div class="ui buttons">#}
{#                <input class="ui blue button" type='button' id='Load_data' value="Load Data"/>#}
{#            </div>#}
{#            <script type="text/javascript">#}
{#                $("#Load_data").click(function (event) {#}
{#                    event.preventDefault();#}
{##}
{#                    var form_data = {#}
{#                        "Load_data": 'Load_data',#}
{#                    };#}
{##}
{##}
{#                    $.ajax({#}
{#                        url: '{% url 'query' %}',#}
{##}
{#                        type: 'GET',#}
{##}
{#                        data: form_data,#}
{##}
{#                        success: function (ret) {#}
{##}
{#                            $("#result_table").html(ret['data']);#}
{#                            initTable($("#data"))#}
{##}
{#                            var chart = echarts.init(document.getElementById('bar_total_trend'), 'white', {renderer: 'canvas'});#}
{#                            chart.showLoading({#}
{#                                text: 'Data Loading'#}
{#                            });#}
{##}
{#                            chart.clear();#}
{#                            chart.setOption(ret['bar_total_trend']);#}
{#                            chart.hideLoading()#}
{##}
{#                            var chart1 = echarts.init(document.getElementById('bar_total_trend1'), 'white', {renderer: 'canvas'});#}
{#                            chart1.showLoading({#}
{#                                text: 'Data Loading'#}
{#                            });#}
{##}
{#                            chart1.clear();#}
{#                            chart1.setOption(ret['bar_total_trend1']);#}
{#                            chart1.hideLoading()#}
{##}
{##}
{##}
{#                        },#}
{#                        error: function () {#}
{#                            console.log('fail')#}
{#                        }#}
{#                    });#}
{#                })#}
{#            </script>#}
{##}
{#            <br><br><br>#}

            <h3 class="ui header" id="analysis">Algorithm</h3>
            <div class="field">
                <div class="fields">
                    <div class="eight wide field">
                        <select name="algo_select" id="ALGO_select" class="ui fluid search dropdown">
                            <option value="Forest" selected>Isolation Forest</option>
                            <option value="Default">Default</option>
                            <option value="Hbos">HBOS</option>
                            <option value="Cblof">CBLOF</option>
                            <option value="Pca">PCA</option>
                        </select>
                    </div>

                </div>
            </div>


            <div class="ui buttons">

                <input class="ui blue button" type='button' id='AJAX_get' value="Anomaly Detection"/>
            </div>
            <script type="text/javascript">
                $("#AJAX_get").click(function (event) {
                    event.preventDefault();

                    var form_data = {
                        "ALGO_select": $("#ALGO_select").val(),
                    };

                    $.ajax({
                        url: '{% url 'query' %}',

                        type: 'GET',

                        data: form_data,

                        success: function (ret) {
                            $("#label_size_unit").html(form_data['ALGO_select']);

                            $("#result_table").html(ret['data']);
                            initTable($("#data"))

                            var chart = echarts.init(document.getElementById('bar_total_trend'), 'white', {renderer: 'canvas'});
                            chart.showLoading({
                                text: 'Data Loading'
                            });

                            chart.clear();
                            chart.setOption(ret['bar_total_trend']);
                            chart.hideLoading()

                            var chart1 = echarts.init(document.getElementById('bar_total_trend1'), 'white', {renderer: 'canvas'});
                            chart1.showLoading({
                                text: 'Data Loading'
                            });

                            chart1.clear();
                            chart1.setOption(ret['bar_total_trend1']);
                            chart1.hideLoading()

                            var chart2 = echarts.init(document.getElementById('bar_total_trend2'), 'white', {renderer: 'canvas'});
                            chart2.showLoading({
                                text: 'Data Loading'
                            });

                            chart2.clear();
                            chart2.setOption(ret['bar_total_trend2']);
                            chart2.hideLoading()

                        },
                        error: function () {
                            console.log('fail')
                        }
                    });
                })
            </script>

            <br><br><br>

            <h3 class="ui header" id="analysis">Filling Algorithm</h3>
            <div class="field">
                <div class="fields">
                    <div class="eight wide field">
                        <select name="filling_select" id="Filling_select" class="ui fluid search dropdown">
                            <option value="Interpolate" selected>Interpolate</option>
                            <option value="Mean">Mean</option>
                            <option value="Median">Median</option>
                            <option value="Pad">Pad</option>
                            <option value="Bfill">Bfill</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="ui buttons">
                <input class="ui blue button" type='button' id='Gap_filling' value="Gap Filling"/>
            </div>
            <script type="text/javascript">
                $("#Gap_filling").click(function (event) {
                    event.preventDefault();

                    var form_data = {
                        "Gap_filling": $("#Filling_select").val(),
                    };


                    $.ajax({
                        url: '{% url 'query' %}',

                        type: 'GET',

                        data: form_data,

                        success: function (ret) {

                            $("#result_table").html(ret['data']);
                            initTable($("#data"))

                            var chart = echarts.init(document.getElementById('bar_total_trend'), 'white', {renderer: 'canvas'});
                            chart.showLoading({
                                text: 'Data Loading'
                            });

                            chart.clear();
                            chart.setOption(ret['bar_total_trend']);
                            chart.hideLoading()

                            var chart1 = echarts.init(document.getElementById('bar_total_trend1'), 'white', {renderer: 'canvas'});
                            chart1.showLoading({
                                text: 'Data Loading'
                            });

                            chart1.clear();
                            chart1.setOption(ret['bar_total_trend1']);
                            chart1.hideLoading()

                            var chart2 = echarts.init(document.getElementById('bar_total_trend2'), 'white', {renderer: 'canvas'});
                            chart2.showLoading({
                                text: 'Data Loading'
                            });

                            chart2.clear();
                            chart2.setOption(ret['bar_total_trend2']);
                            chart2.hideLoading()

                        },
                        error: function () {
                            console.log('fail')
                        }
                    });
                })
            </script>


        </form>
    </div>
</div>

<script>
    function initTable(table) {
        table.DataTable(
            {}
        );
    }
</script>

<script>
    function getForm() {
        var form_data = {
            "Load_data": 'Load_data',
        };

        return form_data
    }
</script>


<script>
    $('.ui.fluid.search.dropdown')
        .dropdown({fullTextSearch: true});
</script>

